@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");


* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
    padding: 0;
}
body {
  max-width: 1600px;
  margin: auto
}
header {
  background-color: #FFF8F3;
}

.herader-name {
    font-size: 2rem;
}
.span-1{
  color: #FD6E0A;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.nav-item{
  display: flex;
  gap: 16px;
  align-items: center;
}

.btn-primary {
  background-color: #FD6E0A;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 20px 25px;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.header-title {
  max-width: 700px;
  font-size: 64px;
  margin: 0 auto; /* Centers the h3 element within the container */
}

.header-p {
  padding-top: 20px;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 40px; /* Centers the paragraph within the container */
}

.header-description-img {
  margin-top: 20px;
  text-align: center;
}

.header-description-img img {
  max-width: 100%;
  height: auto;
  padding: 30px 40px;
}


/* teams section css  */


.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

main {
  margin: 120px 0px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  gap: 20px;
}

.team-img-container img {
  width: 100%; /* Ensures images fill their grid cells */
  height: 100%; /* Ensures images fill their grid cells */
  object-fit: cover; /* Maintains aspect ratio and covers the cell */
}

.our-features {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feature-description {
   width: 400px;
}


