@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");


* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
    padding: 0;
}
body {
  max-width: 1600px;
  margin: auto
}
header {
  background-color: #FFF8F3;
}

.text-light-gray {
  color: lightgray;
}
.herader-name {
    font-size: 2rem;
}
.span-1{
  color: #FD6E0A;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.nav-item{
  display: flex;
  gap: 16px;
  align-items: center;
}

.btn-primary {
  background-color: #FD6E0A;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 20px 25px;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.header-title {
  max-width: 700px;
  font-size: 64px;
  margin: 0 auto; /* Centers the h3 element within the container */
}

.header-p {
  padding-top: 20px;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 40px; /* Centers the paragraph within the container */
}

.header-description-img {
  margin-top: 20px;
  text-align: center;
}

.header-description-img img {
  max-width: 100%;
  height: auto;
  padding: 30px 40px;
}


/* teams section css  */


.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

main {
  margin: 120px 0px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  gap: 20px;
}

.team-img-container img {
  width: 100%; /* Ensures images fill their grid cells */
  height: 100%; /* Ensures images fill their grid cells */
  object-fit: cover; /* Maintains aspect ratio and covers the cell */
}

.our-features {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.feature-description {
   width: 400px;
}


/* feature section  */

.features{
  margin-top: 130px;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.feature-card {
  background: #FFFFFF;
  border: #FFF4E7;
  border-radius: 8px;
  box-shadow: 2px 8px 15px 7px;
  margin-top: 20px ;
  padding: 30px;
}


#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}

#experience-year{
  font-size: 4rem;
  font-weight: 700;
}


/* fact section  */


.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 90px;
}

.facts-container {
    display: flex;
    gap: 90px;
    margin: 60px 0px;
    align-items: center;
    justify-content: center;
}

.fact-card {
  border: 2px solid  #FD6E0A ;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.display-flex{
  display: flex;
}


/* Sponspors css  */


.Sponspors-img {
  display: flex;
  justify-content: space-around;

  margin: 60px 0px;
}


footer {

  background-color: #FFF4E7;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 40px;
  padding: 30px;

}